{% extends 'base.html' %} {% block container %}

<div id="friends">
    <h1>Friends</h1>
{%if friends|length ==0%}
    <div>No friends :C</div>
    {%else%}
    {% for friend in friends %}
    <a href ="{{url_for('view_user', user_name = friend.username)}}">
      <div class="friend-listing">
        <div class="friend-image">
          <img
            src="{{ friend.pic }}"
            width="80px"
            height="80px"
            alt="{{ friend.username }}"
            referrerpolicy="no-referrer"
          />
        </div>
        <div class="friend-user">{{ friend.username }}</div>
      </div>
    </a>
    {% endfor %} {% endif %}
</div>

{% endblock %}
