{% extends 'base.html' %} {% block container %}

<div id="profile">
  <div id="profile-header">
    <div>
      <img
        src="{{user.pic}}"
        alt="user profile image"
        width="100px"
        height="100px"
        referrerpolicy="no-referrer"
      />
      <div class="profile-username">{{user.username}}</div>
    </div>
    <div>
      <div>{{user.bio}}</div>
      <a href="{{url_for('edit_profile')}}">
        <button class="edit-profile-btn">Edit Profile</button>
      </a>
    </div>
  </div>
</div>

<div id="listings">
  {% if docs|length ==0%}
  <div>Nothing to see...</div>
  {% else %} {% for doc in docs %} {% if doc.public == True %}
  <div class="listing-alt" onclick="window.location.href='/item/{{ doc._id }}'">
    <div class="listing-context-alt">
      <div class="listing-image-alt">
        <img
          src="{{ doc.image_url }}"
          alt="{{ doc.title }}"
          referrerpolicy="no-referrer"
        />
      </div>
      <div class="details-alt">
        <div class="details-primary">
          <b>{{ doc.name }}</b>
          <p>${{ doc.price }}</p>
        </div>
        <p>{{ doc.description }}</p>
      </div>
    </div>
  </div>
  {% endif %} {% endfor %} {% endif %}
</div>
{% endblock %}
